body {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
}

.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.view-travels {
    position: absolute;
    top: 10px;
    right: 150px;
}

.back-button {
    position: absolute;
    top: 10px;
    right: 150px;
}

.wish-button {
    position: absolute;
    top: 10px;
    right: 270px;
}

.table td,
.table th {
    color: white;
}

h1,
h2 {
    color: #e7ebda;
}

.list-group-item {
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    min-height: 70px;
    /* Ajusta la altura mínima según sea necesario */
}

.created-by {
    font-weight: bold;
    color: #e66767;
}

.author-name {
    color: #ea8685;
}

.contador {
    color: white;
}

.error-message {
    background-color: #ffcccc;
}

.success-message {
    background-color: #ccffcc;
}